/*Texto Dentro da Imagem */

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

/* Header */

header {
  color: rgb(0, 0, 0);
  padding: 10px 0;
}

.titulo-topo{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-left: 20px;
}

.logo{
    height: 60px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.faixa-topo{
    background-color: #E9E9E9;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}